[submodule "nvim"]
	path = nvim
	url = git@github.com:HeberPaim/nvim.git
	branch = master
[submodule "kitty-themes"]
	path = kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
	branch = master
